<!DOCTYPE html>
<html>
  <head>
    <title>Lewis Youl</title>
    <link rel="stylesheet" href="./stylesheets/tailwind.css" />
    <link rel="stylesheet" href="./stylesheets/highlight.css" />
  </head>
  <body>
    <nav class="bg-white border-b">
      <div class="max-w-3xl mx-auto py-3">
        <a class="text-pink-600 text-xl hover:underline" href="index.html">
          <h3 class="m-0">Lewis Youl</h3>
        </a>
      </div>
    </nav>

    <div class="max-w-3xl mx-auto py-3">
      <%= yield %>
    </div>
  </body>
</html>